body {
  line-height: 26px;
  font-size: 14px;
}

input[type=checkbox] {
  height: 16px;
  width: 16px;
  vertical-align: top;
  margin-right: 3px;
  margin-top: 5px;
}

input, textarea {
  width: 98%;
  border: 1px solid #ccc;
  padding: 5px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

textarea {
  min-height: 100px;
}

.one-line {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.main-box {
  padding: 0;
  overflow: hidden;
  & > menu {
    width: 150px;
    float: left;
    border-right: 1px solid #ccc;
    margin: 0;
    padding: 5px 5px 20px 0;
    .type {
      margin-top: 14px;
      color: #fff;
      background: #666;
      padding-left: 10px;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        list-style: none;
        @extend .one-line;
        display: block;
        a {
          display: block;
          color: #333;
          text-decoration: none;
          padding-left: 10px;
          &:hover {
            background: #129FEA;
            color: #fff;
            text-decoration: none;
          }
          &.active {
            background: #3276b1;
            color: #fff;
          }
        }

      }
    }
  }
  & > .main {
    margin: 10px 10px 10px 160px;
  }
}

.loading {
  font-size: 24px;
  text-align: center;
  display: none;
}